<section class="comments">
  <div class="container">
    <div class="comments-wrap-dop">
      <div class="comments-wrap-content">
        <p class="comments-title">Läsarkommentarer</p>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar1.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Emma, 41</p>
            <p class="comments-wrapper-text">
              Jag har själv använt Frank & Frey CBD sedan april. Man märker inte
              förändringen direkt – men plötsligt inser man att man, sover
              bättre och reagerar lugnare.
            </p>
            <img
              src="./img/comments/comments1.png"
              alt="Comments img"
              class="comments-img"
            />
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar2.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Jonas, 35</p>
            <p class="comments-wrapper-text">
              Jag tycker det är starkt att Rebecka står upp för sitt val. Alla
              borde få ta hand om sig på sitt eget sätt.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Louise, 30</p>
            <p class="comments-wrapper-text">
              Jag började med Frank & Frey CBD under en stressig period på
              jobbet. För mig handlar det inte om att 'fixa allt', utan om att
              känna att jag inte tappar fotfästet.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar3.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Lena, 47</p>
            <p class="comments-wrapper-text">
              Som trebarnsmamma relaterar jag HELT. Stressnivån vi lever med är
              inte normal.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar4.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Daniela, 44</p>
            <p class="comments-wrapper-text">
              Att ställa frågor är okej. Men när en kvinna öppet visar sitt sätt
              att återhämta sig – då förtjänar hon stöd, inte ifrågasättande.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Annika, 34</p>
            <p class="comments-wrapper-text">
              Jag såg storyn samma kväll. Tänkte bara: vilken fin påminnelse om
              att sätta sig själv först ibland.
            </p>
            <img
              src="./img/comments/comments2.png"
              alt="Comments img"
              class="comments-img"
            />
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar5.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Mikael, 42</p>
            <p class="comments-wrapper-text">
              Kul att någon i offentligheten lyfter alternativ till klassiska
              mediciner. Det behövs.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar6.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Sara, 27</p>
            <p class="comments-wrapper-text">
              Hade ingen aning om att det kunde bli en rättsfråga! Tur att det
              löste sig.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar7.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Carina, 50</p>
            <p class="comments-wrapper-text">
              Min kropp tackar mig varje kväll för att jag började med Frank &
              Frey CBD.
            </p>
            <img
              src="./img/comments/comments3.png"
              alt="Comments img"
              class="comments-img"
            />
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Tobias, 33</p>
            <p class="comments-wrapper-text">
              Kontrakt hit eller dit – så länge det inte skadar någon, varför
              göra en grej av det?
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar8.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Camilla, 45</p>
            <p class="comments-wrapper-text">
              Kontrakt hit eller dit – så länge det inte skadar någon, varför
              göra en grej av det?
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Niklas, 39</p>
            <p class="comments-wrapper-text">
              Frank & Frey känns som framtiden. Mindre kemikalier, mer balans.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Ida, 31</p>
            <p class="comments-wrapper-text">
              Om detta hjälper henne att må bättre – vad spelar det för roll vad
              burken heter?
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar9.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Johan, 44</p>
            <p class="comments-wrapper-text">
              Jag har följt Nybergs arbete i flera år. När han säger att något
              fungerar – då litar jag på det.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Elin, 36</p>
            <p class="comments-wrapper-text">
              Att vara kvinna idag = konstant press. Om Frank & Frey CBD
              hjälper, så kör.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar10.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Maria, 40</p>
            <p class="comments-wrapper-text">
              Fick tips av en vän – nu har jag alltid Frank & Frey CBD i
              handväskan.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Andreas, 37</p>
            <p class="comments-wrapper-text">
              Vi behöver prata mer om stress och självomsorg – inte mindre.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar11.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Helena, 46</p>
            <p class="comments-wrapper-text">
              Alla kvinnor jag känner brottas med sömn. Kul att någon vågar
              prata om det.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar-gray.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Lotta, 32</p>
            <p class="comments-wrapper-text">
              Att stämma någon för att visa en burk i storyn... det känns bara
              gammaldags.
            </p>
          </div>
        </div>

        <div class="comments-wrapper">
          <img
            src="./img/avatar/avatar12.png"
            alt="Comments avatar img"
            class="comments-wrapper-img"
          />
          <div class="comments-wrapper-content">
            <p class="comments-wrapper-name">Frida, 28</p>
            <p class="comments-wrapper-text">
              Tar med mig Frank & Frey CBD till sommarstugan. Lugnet börjar
              inifrån.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
