<section id="enligt" class="enligt">
  <div class="container">
    <div class="enligt-wrap-dop">
      <div class="enligt-wrap-content">
        <p class="enligt-title">Vad innehåller Frank & Frey – och varför?</p>

        <p class="enligt-parag">
          <span class="enligt-parag-span"
            ><a
              href="https://www.google.com/"
              target="_blank"
              rel="noopener noreferrer"
              >Frank & Frey CBD</a
            ></span
          >
          är utvecklad för kvinnor med mental överbelastning. Här finns inga
          slumpmässiga ingredienser – varje komponent är noggrant vald och
          samverkar för att stödja kroppens naturliga återhämtning:
        </p>

        <p class="enligt-parag">
          🔹 Bredspektrum-CBD (0% THC) – lugnar utan att trubba av. Hjälper
          kroppen att återgå till balans.
        </p>
        <p class="enligt-parag">
          🔹 Citronmeliss – traditionellt använt mot oro och sömnproblem.
        </p>
        <p class="enligt-parag">
          🔹 Ashwagandha – adaptogen som minskar stress och emotionell
          utmattning.
        </p>
        <p class="enligt-parag">
          🔹 Magnesium – stärker nervsystemet och motverkar trötthet.
        </p>
        <p class="enligt-parag">
          🔹 L-treonin – aminosyra som främjar lugn och mental klarhet.
        </p>
        <p class="enligt-parag">🧬 Tillsammans bildar de en formel som:</p>
        <p class="enligt-parag">– Förbättrar sömnkvalitet</p>
        <p class="enligt-parag">– Minskar ångest och spänningar</p>
        <p class="enligt-parag">– Främjar djup återhämtning</p>
        <p class="enligt-parag">
          – Är fri från biverkningar och påverkar inte koncentrationen
        </p>

        <p class="enligt-parag paragraph">
          Det är ingen magisk lösning. Men det är ett modernt alternativ för
          kvinnor som är trötta på att alltid vara trötta.
        </p>

        <img
          src="./img/enligt/enligt.png"
          alt="Image enligt"
          class="enligt-img"
        />

        <p class="enligt-parag-bold">Vill du veta mer eller testa själv?</p>

        <p class="enligt-btn">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Prova Frank & Frey CBD idag</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
