<footer class="footer">
  <div class="footer-wrap">
    <div class="container-footer">
      <a href="#enligt" class="header-href">
        <img
          class="header-logo"
          src="./img/heder/logo.png"
          alt="Logo woman`s health"
        />
      </a>

      <div class="footer-social">
        <a href="#enligt" class="footer-social-fb">
          <img
            class="footer-social-icon"
            src="./img/footer/fb.png"
            alt="Logo woman`s health"
          />
        </a>

        <a href="#enligt" class="footer-social-x">
          <img
            class="footer-social-icon"
            src="./img/footer/x.png"
            alt="Logo woman`s health"
          />
        </a>

        <a href="#enligt" class="footer-social-be">
          <img
            class="footer-social-icon"
            src="./img/footer/be.png"
            alt="Logo woman`s health"
          />
        </a>

        <a href="#enligt" class="footer-social-inst">
          <img
            class="footer-social-icon"
            src="./img/footer/inst.png"
            alt="Logo woman`s health"
          />
        </a>

        <a href="#enligt" class="footer-social-youtube">
          <img
            class="footer-social-icon"
            src="./img/footer/youtube.png"
            alt="Logo woman`s health"
          />
        </a>
      </div>

      <p class="footer-text">© 2025 WOMAN’S HEALTH</p>

      <div class="footer-block">
        <p class="footer-text-title">Produkt</p>

        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Hemsida</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Rundtur</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Mallar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Priser</a>
          </li>
        </ul>
      </div>

      <div class="footer-block">
        <p class="footer-text-title">Utbildning</p>

        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Workshops</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link"
              >Hur man skapar en webbplats</a
            >
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Designkurs</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Utforska</a>
          </li>
        </ul>
      </div>

      <div class="footer-block">
        <p class="footer-text-title">Hjälp</p>

        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Kunskapsbas</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Videoguider</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Kodexport</a>
          </li>

          <li class="footer-nav-item">
            <a href="#enligt" class="footer-nav-link">Utvecklare</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
