<section class="formeln">
  <div class="container">
    <div class="formeln-wrap-dop">
      <div class="formeln-wrap-content">
        <div class="dop">
          <p class="formeln-parag">
            <span class="formeln-parag-span-bold">Formeln i </span>
            <span class="formeln-parag-span"
              ><a
                href="https://www.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Frank & Frey CBD</a
              ></span
            >
            bygger på
            <span class="formeln-parag-span-bold">CBD</span> i bredspektrumform
            kombinerat med citronmeliss, ashwagandha, magnesium och
            <span class="formeln-parag-span-bold">L-treonin</span> – ämnen som
            tillsammans skapar en synergistisk effekt:
          </p>

          <p class="formeln-parag">
            “Det handlar inte om trender – det handlar om fysiologi. En skonsam,
            långsiktig återhämtning. Det är så modern nutraceutisk vård ska se
            ut.”
          </p>
        </div>

        <img
          src="./img/formeln/formeln.png"
          alt="Image formeln"
          class="formeln-img"
        />

        <p class="formeln-btn">
          <a href="#enligt">MER INFO</a>
        </p>
      </div>
    </div>
  </div>
</section>
