<section class="form">
  <div class="container">
    <div class="form-wrap-dop">
      <div class="form-wrap-content">
        <p class="form-title">Kommentar:</p>

        <form class="form-box" id="comment-form">
          <input type="text" name="name" required />

          <label class="file-label">
            Bifoga fil...
            <input type="file" name="file" hidden />
          </label>

          <textarea name="comment" required></textarea>

          <button type="submit">SKICKA KOMMENTAR</button>
          <p id="message" class="hidden">
            Your comment has been sent for moderation.
          </p>
        </form>

        <p class="enligt-btn">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Prova Frank & Frey CBD idag</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
