<section class="fred">
  <div class="container">
    <div class="fred-wrap-dop">
      <div class="fred-wrap-content">
        <div class="dop">
          <p class="fred-parag">
            <span class="fred-parag-span">Fred Nyberg</span> betonar att
            dagens<br />
            kvinnor ofta lever under konstant press:
          </p>

          <p class="fred-parag">
            “Chefer, frilansare, ensamstående mammor – alla har höga krav och
            ofta låg återhämtningskapacitet. Det gör återställning av balans,
            sömn och motståndskraft avgörande.”
          </p>

          <p class="fred-parag">
            “Jag säger inte att
            <span class="formeln-parag-span"
              ><a
                href="https://www.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Frank & Frey CBD</a
              ></span
            >är en mirakelkur. Men det är ett verktyg som fungerar. Till
            skillnad från starka läkemedel som bensodiazepiner, som ofta ger
            biverkningar och beroenderisk, erbjuder
            <span class="formeln-parag-span"
              ><a
                href="https://www.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Frank & Frey CBD</a
              ></span
            >
            en mild och långsiktig väg tillbaka till balans. Det stödjer
            kroppens naturliga system – utan att slita på det.”
          </p>
        </div>

        <img src="./img/fred/fred.png" alt="Image fred" class="fred-img" />

        <p class="fred-btn">
          <a href="#enligt">MER INFO</a>
        </p>
      </div>
    </div>
  </div>
</section>
