<section class="hero">
  <div class="container">
    <div class="hero-wrap-dop">
      <div class="hero-wrap-content">
        <h2 class="hero-title">
          "Rebecka Ferguson hotas med stämning – men experterna står bakom
          henne"
        </h2>

        <p class="hero-av">AV Emma Lundström</p>
        <p class="hero-hour">Publicerad 17:03</p>

        <div class="hero-wrap-icons">
          <img
            src="./img/hero/hero-foji.png"
            alt="Image foji"
            class="hero-img-foji"
          />
          <img
            src="./img/hero/hero-dela.png"
            alt="Image dela"
            class="hero-img-dela"
          />
        </div>

        <img
          src="./img/hero/hero-img-one.png"
          alt="Image photo woman one"
          class="hero-img-woman-one"
        />

        <div class="hero-block-text-one">
          <p class="hero-block-title">
            1.Hon såg utvilad ut – mitt i premiärkaoset
          </p>
          <p class="hero-parag">
            <span class="hero-parag-span">Rebecka Ferguson</span> är inte bara
            en internationellt hyllad skådespelerska, utan också en kvinna som –
            precis som tusentals andra – lever i ett tempo där det knappt finns
            plats för vila.
          </p>
          <p class="hero-parag">
            "Jag vaknade med ångest. Gick på autopilot. Log på röda mattan men
            kände mig tom inombords."
          </p>
          <p class="hero-parag">
            Så beskrev hon sin situation – en tomhet efter månader av press och
            resor.
          </p>
          <p class="hero-parag">
            Men nyligen, i en kort intervju med Dagens Nyheter, blev
            journalisten överraskad av hur avslappnad
            <span class="hero-parag-span">Rebecka</span> såg ut:
          </p>
          <p class="hero-parag">
            "Du ser ut som om du precis kommit hem från semester – trots att du
            haft premiärer i tre länder på en månad. Hur är det möjligt?"
          </p>
          <p class="hero-parag">
            <span class="hero-parag-span">Rebecka</span> svarade med lugn och
            närvaro, som om hon hittat tillbaka till sin inre balans:
          </p>
          <p class="hero-parag">
            "Kanske för att jag äntligen börjat göra det som verkligen hjälper.
            Inga extremer, inga drastiska grepp – bara det som stöttar mig. Men
            några av de hemligheterna behåller jag för mig själv."
          </p>
        </div>

        <p class="hero-btn-mer">
          <a class="hero-btn-mer-text" href="#enligt">MER INFO</a>
        </p>

        <img
          src="./img/hero/hero-img-two.png"
          alt="Image photo woman two"
          class="hero-img-woman-two"
        />

        <div class="hero-block-text-two">
          <p class="hero-block-title-two">2. En story som blev en bomb</p>
          <p class="hero-parag">
            Nästa kväll la <span class="hero-parag-span">Rebecka</span> en
            lågmäld, stillsam story på Instagram. Ett tyst hotellrum. Dämpad
            belysning. En bok, ett glas vatten – och på nattduksbordet en
            diskret burk med
            <span class="hero-parag-span"
              ><a
                href="https://www.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Frank & Frey CBD</a
              ></span
            >
            Capsules.
          </p>
          <p class="hero-parag">
            Bara några sekunder – hon önskade sina följare god natt och tackade
            för allt stöd.
          </p>
          <p class="hero-parag">
            Men de mest uppmärksamma lade märke till något annat. Burken.
            Diskussionerna startade omedelbart.
          </p>
        </div>

        <p class="hero-btn-mer"><a href="#enligt">MER INFO</a></p>

        <img
          src="./img/hero/modern-one.png"
          alt="Image photo woman three"
          class="hero-img-woman-three"
        />

        <div class="hero-block-text-three">
          <p class="hero-block-title-three">
            3.Juridisk panik som snabbt rann ut i sanden
          </p>
          <p class="hero-parag">
            Inom ett dygn skrev många medier att det amerikanska företaget
            VitalZen Labs, som tidigare samarbetat med skådespelerskan,
            övervägde att väcka åtal för “otillbörlig marknadsföring av
            konkurrerande produkt”.
          </p>
          <p class="hero-parag">
            Representanter för bolaget hävdade att storyn var dold reklam och
            ett brott mot deras avtal.
          </p>
          <p class="hero-parag">
            <span class="hero-parag-span">Rebeckas</span> juridiska team svarade
            snabbt och tydligt:
          </p>
          <p class="hero-parag">
            "Kontraktet förbjuder inte privat användning av andra produkter
            utanför reklamkampanjer. Inlägget saknar köpuppmaning eller
            varumärke – det är inte kommersiellt innehåll, utan en del av hennes
            personliga vardag."
          </p>
          <p class="hero-parag">
            Trots de uppmärksammade rubrikerna och spekulativa formuleringarna
            blev det aldrig någon rättegång.
          </p>
          <p class="hero-parag">
            Enligt källor nära förhandlingarna handlade det snarare om ett
            känslomässigt utspel från bolaget än ett verkligt juridiskt hot.
          </p>
          <p class="hero-parag">
            Medan medierna diskuterade eventuella intressekonflikter och
            jurister vägde formuleringar – klev en person in i samtalet vars
            röst i Sverige väger tyngre än de flesta.
          </p>
        </div>

        <p class="hero-btn-mer"><a href="#enligt">MER INFO</a></p>

        <div class="hero-block-text-four">
          <p class="hero-block-title-four">
            4. När vetenskapen talar: professor Nyberg ställer sig bakom Rebecka
          </p>
          <p class="hero-parag">
            Professor <span class="hero-parag-span">Fred Nyberg</span> – läkare,
            farmaceutisk biovetare vid Uppsala universitet, rådgivare till flera
            EU-myndigheter och en av Nordens mest erkända experter på
            cannabinoider och nutraceutika.
          </p>

          <img
            src="./img/hero/modern-two.png"
            alt="Image photo man four"
            class="hero-img-man-four"
          />

          <p class="hero-parag">
            Enligt journalisten var det han som flyttade debatten från
            skvallersidorna till vetenskapens domän.
          </p>
          <p class="hero-parag">
            "Vi talar ofta om offentligt tryck – men det som inte syns är den
            konstanta, tysta stressen bakom kulisserna. I
            <span class="hero-parag-span">Rebeckas</span> fall är det tydligt:
            hennes livsstil lämnar knappt utrymme för återhämtning."
          </p>
          <p class="hero-parag">
            Nyberg menar att valet av
            <span class="hero-parag-span"
              ><a
                href="https://www.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Frank & Frey CBD</a
              ></span
            >
            inte bara var personligt, utan även logiskt ur medicinsk synpunkt:
          </p>
          <p class="hero-parag">
            "Det är ett skonsamt stöd till kroppens eget nervsystem. Utan
            beroende, utan biverkningar – en väg tillbaka till balans, inte ett
            sätt att dämpa symptom."
          </p>
          <p class="hero-parag">
            Han förklarar att han själv granskat innehållet i
            <span class="hero-parag-span"
              ><a
                href="https://www.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Frank & Frey CBD</a
              ></span
            >
            Capsules:
          </p>
          <p class="hero-parag">
            "Det här är inte marknadsföring – det är farmaceutiskt arbete.
            Produkten är vetenskapligt formulerad: fri från THC,
            icke-beroendeframkallande, säker vid långtidsbruk och testad av
            oberoende laboratorier enligt EU-standard."
          </p>
          <p class="hero-parag">
            Han gör även en tydlig jämförelse med traditionella medel:
          </p>
          <p class="hero-parag">
            "Sömnmedel, lugnande – de kan ge biverkningar, påverka tankeförmåga,
            skapa trötthet och beroende. Jag har sett hundratals patienter
            drabbas av det.
            <span class="hero-parag-span"
              ><a
                href="https://www.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Frank & Frey CBD</a
              ></span
            >
            är något helt annat."
          </p>
          <p class="hero-parag">
            Formeln kombinerar bredspektrum-CBD med citronmeliss, ashwagandha,
            magnesium och L-treonin – komponenter som förstärker varandras
            effekt:
          </p>
          <p class="hero-parag">
            "Det är inte trend – det är fysiologi. Mjuk verkan utan att dränera
            nervsystemet. Inga risker. Så här ska modern nutraceutisk vård se
            ut."
          </p>
        </div>

        <p class="hero-btn-mer"><a href="#enligt">MER INFO</a></p>
      </div>
    </div>
  </div>
</section>
