<section class="jag">
  <div class="container">
    <div class="jag-wrap-dop">
      <div class="jag-wrap-content">
        <p class="jag-text">
          “Jag säger inte att
          <span class="jag-parag-span"
            ><a
              href="https://www.google.com/"
              target="_blank"
              rel="noopener noreferrer"
              >Frank & Frey CBD</a
            ></span
          >
          är en mirakelkur. Men det är ett verktyg som fungerar.<br />
          Till skillnad från starka läkemedel som bensodiazepiner, som ofta ger
          biverkningar och beroenderisk, erbjuder
          <span class="jag-parag-span"
            ><a
              href="https://www.google.com/"
              target="_blank"
              rel="noopener noreferrer"
              >Frank & Frey CBD</a
            ></span
          >
          en mild och långsiktig väg tillbaka till balans. Det stödjer kroppens
          naturliga system – utan att slita på det.”
        </p>

        <img src="./img/jag/jag.png" alt="Image fred" class="jag-img" />

        <p class="jag-btn">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Prova Frank & Frey CBD idag</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
