<div class="modal-container">
  <div id="modal" class="backdrop is-hidden" data-backdrop>
    <div class="modal">
      <div class="wrap-dop">
        <div class="modal-header">
          <button
            type="button"
            class="back-button is-hidden"
            data-modal-close
          ></button>
        </div>

        <nav class="modal-nav is-hidden" data-modal>
          <ul class="modal-nav-list">
            <li class="modal-nav-item">
              <a href="/" class="modal-nav-link">Hem</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Hälsonyheter</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Kost och dieter</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Fysisk aktivitet</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Psykologi</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Medicin och sjukdomar</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Läkarens råd</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Hälsosam livsstil</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Alternativ medicin</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Konsultationer</a>
            </li>

            <li class="modal-nav-item">
              <a href="#enligt" class="modal-nav-link">Frågor och svar</a>
            </li>
          </ul>
        </nav>

        <a href="#enligt" class="modal-href">
          <p class="modal-href-text">PREMIUM</p>
        </a>
      </div>
    </div>
  </div>
</div>
