<section class="premium-three">
  <div class="container">
    <div class="premium-three-wrap-dop">
      <div class="premium-three-wrap-content">
        <img
          src="./img/premium-three/premium-three1.png"
          alt="Image premium"
          class="premium-three-img"
        />

        <p class="premium-three-parag">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Läs mer</a
          >
        </p>

        <img
          src="./img/premium-three/premium-three2.png"
          alt="Image premium"
          class="premium-three-img"
        />

        <p class="premium-three-parag">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Läs mer</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
