<section class="premium-two">
  <div class="container">
    <div class="premium-two-wrap-dop">
      <div class="premium-two-wrap-content">
        <img
          src="./img/premium-two/premium-two1.png"
          alt="Image premium"
          class="premium-img"
        />

        <p class="premium-two-parag">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Läs mer</a
          >
        </p>

        <img
          src="./img/premium-two/premium-two2.png"
          alt="Image premium"
          class="premium-img"
        />

        <p class="premium-two-parag">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Läs mer</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
